<section id="add-new-restaurant">
	<%= link_to 'add new restaurant', new_restaurant_path, class: 'btn btn-default' %>
</section>

<section id="restaurants">


<% @restaurants.each do |rest| %>
    <div class="restaurant-wrap">
      <%= image_tag rest.image_url(:thumb) if rest.image %>
      <div class="caption">
        <h3><%= link_to rest.name, rest %></h3>
        <p><%= rest.description %></p>
      </div>
    </div>
<% end %>

</section>

