// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	text-align: center;
}
li {
	list-style: none;
}

/* HEADER */
.navbar-brand {
	text-transform: uppercase;
}
.restaurant-wrap {
	float: left;
	padding: 10px;
	margin: 1% 2%;
	img {
		width: 300px;
		height: 200px;
		border-radius: 10px;
	}
	height: 300px;
	border-radius: 15px;
	box-shadow: 1px 1px 10px #6c6c6c;
}
#add-new-restaurant {
	margin: 15px;
}
ul {
	display: inline;
}
.form {
	width: 70%;
	margin: 10px auto;
}
.parsley-error-list {
	padding: 0;
}
#error_explanation {
	color: red;
}