// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* GENERAL */
body {
	text-align: center;
}
li {
	list-style: none;
}
ul {
	display: inline;
}
ol {
	padding: 0;
}
/* HEADER */
nav.navbar {
	padding: 0 50px;
}
.navbar-brand {
	text-transform: uppercase;
}
/* CONTAINER */
.restaurant-wrap {
	float: left;
	padding: 10px;
	margin: 1% 2%;
	img {
		width: 300px;
		height: 200px;
		border-radius: 10px;
	}
	height: 300px;
	border-radius: 15px;
	box-shadow: 1px 1px 5px #8c8c8c;
}
.form {
	width: 70%;
	margin: 10px auto;
}
/* PARSLEY.JS */
.parsley-error-list {
	padding: 0;
}
/* ERRORS */
#error_explanation {
	color: red;
}

@media only screen and (max-width: 500px) {
	nav.navbar {
		padding: 0 10px;
	}
	.restaurant-wrap {
		width: 95%;
		font-size: 80%;
	}
}

@media only screen and (max-width: 360px) {
	.restaurant-wrap {
		width: 95%;
		img {
			width: 100%;
		}
	}
}